[package]
name = "relativity"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bevy = "0.17.2"
uom = "0.37.0"
nalgebra-spacetime = "0.5.0"
glam = "0.30.9"
once_cell = "1.21.3"