on:
  push:
    branches:
      - main

name: Build and Deploy to GitHub Pages

env:
  RUST_TOOLCHAIN: nightly-2025-12-22

jobs:
  build-wasm:
    name: Build WASM
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@nightly
        with:
          toolchain: ${{ env.RUST_TOOLCHAIN }}
          targets: wasm32-unknown-unknown
      - uses: cargo-bins/cargo-binstall@main
      - uses: Swatinem/rust-cache@v2
        with:
          cache-all-crates: "true"
          cache-bin: "false"
      - run: cargo binstall cargo-make --no-confirm
      - run: cargo make build-web
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
          publish_branch: gh-pages
